<!DOCTYPE html>
<html>

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
   <script type="text/javascript" src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
   <link type="text/css" rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css"/>

  <style>
    .container {
      background-color: lightgray;
      margin-top: 30px;
      padding-bottom: 30px;
    }
    
    .content-panel {
      background-color: black;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
      width: 90%;
      height: 75%;
      color: white;
    }
    
    .pepe {
      float: left;
      margin-bottom: 10px;
    }
    
    .info-display {
      float: right;
      width: 85%;
      background-color: darkgrey;
      color: black;
      height: 100px;
      padding: 10px;
    }
    
    .well {
      margin-top: 10px;
      overflow: scroll;
      color: black;
    }
  </style>

  <title>Movie Hut | Home</title>
</head>

<body>

  <!--Navbar-->
  <nav class="navbr navbar-inverse">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Movie Hut</a>


      <ul class="nav navbar-nav">
        <!--Home Page-->
        <li class="active"><a href="#">Home</a></li>

        <!--About Page-->
        <li><a href="#">About Movie Hut</a></li>

        <!--Submit Page--Button leads to the /create.erb page TODO: Update /create.erb-->
        <li>
          <a href="#">
            <form role="form" action="/create" method="get">
              <button type="submit" class="btn btn-primary">Post a Video</button>
            </form>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <!--Body-->
  <div class="container">
    <!--content  Wrapper-->
    <div class="content-panel">
      <!--Display template-->
      <div>
        <!--Post Title... clears the float from any previous posts-->
        <!--<h3 style="clear:left">Shakespeare Pepe</h3>-->
        
        <ul><% @Videos.each do |video| %></ul>
          <div class="well">
            <h3><%= video.title %></h3>
            <p>Post #<%= video.id %></p>
            <hr/>
            <p><a href="<%= video.link %>"><%= video.link %></a></p>
            <p><%= video.comment %></p>
            
            <form role="form" action="/create" method="post">
              <div class="form-group">
         
                <!--Comment text box-->
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>
              <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Comment</button>
            </form>
          </div>
            <% end %>
          
        </div>
        
        <!--Optional thumbnail preview-->
        <!--<img class="pepe" src="/shakespepe.jpg" width="100px" height="100px"></img>-->
        <!--Displays video description-->
        <!--<div class="info-display">-->
        <!--  <p>-->
        <!--    Behold the Shakespeare Pepe. He is quite the rare pepe indeed. Who doesn't love a good shakespear pepe?!-->
        <!--  </p>-->
        <!--</div>-->
        <!--Comments section-->
        <!--<div class="well" style="clear:both">-->
          <!--Style for each comment-->
        <!--  <div><span style="color: blue">Auto generated Post number</span>: Comment 1</div>-->
        <!--</div>-->
        <!--Submission form for commenting-->
        
       
      </div>
    </div>
  </div>
</body>

</html>
